<body>
  <p id="notice"></p>
  <h1>Books</h1>



 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <!-- 1行目 -->
  <tr>
    <td>トラブル知らずのシステム設計</td>
    <td>システム設計の要点を図解で説明してくれます</td>
    <td>
      <a class="show_119857" href="/books/119857">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119858" rel="nofollow" data-method="delete" href="/books/119858">Destroy</a>
    </td>
  </tr>

  <!-- 2行目 -->
  <tr>
    <td>たのしいRuby</td>
    <td>Rubyの入門におすすめです</td>
    <td>
      <a class="show_119859" href="/books/119859">Show</a>
    </td>
    <td>
      <a class="edit_119859" href="/books/119859/edit">Edit</a>
    </td>
    <td>
      <a datta-confirm="Are you sure?" class="destroy_119859" rel="nofollow" data-method="delete" href="/books/119859">Destroy</a>
    </td>
  </tr>

  <!-- 3行目 -->
  <tr>
    <td>入門Git</td>
    <td>gitについての基本操作から内部構造まで解説してくれます</td>
    <td>
      <a class="show_119860" href="/books/119860">Show</a>
    </td>
    <td>
      <a class="edit_119860" href="/books/119860/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119860" rel="nofollow" data-method="delete" href="/books/119860">Destroy</a>
    </td>
  </tr>

  <!-- 4行目 -->
  <tr>
    <td>アルゴリズム図鑑</td>
    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
    <td>
      <a class="show_119861" href="/books/119861">Show</a>
    </td>
    <td>
      <a class="edit_119861" href="/books/119861/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119861" rel="nofollow" data-method="delete" href="/books/119861">Destroy</a>
    </td>
  </tr>

  <!-- 5行目 -->
  <tr>
    <td>達人プログラマー</td>
    <td>プログラマ入門者は必読！</td>
    <td>
      <a class="show_119862" href="/books/119862" >Show</a>
    </td>
    <td>
      <a class="edit_119862" href="/books/119862/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119862" rel="nofollow" data-method="delete" href="/books/119862">Destroy</a>
    </td>
  </tr>

  <!-- 6行目 -->
  <tr>
    <td>データベース実践入門</td>
    <td>効率的なSQL文を教えてくれます</td>
    <td>
      <a class="show_119863" href="/books/119863">Show</a>
    </td>
    <td>
      <a class="edit_119863" href="/books/119863/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119863" rel="nofollow" data-method="delete" href="/books/119863">Destroy</a>
    </td>
  </tr>

  <!-- 7行目 -->
  <tr>
    <td>a</td>
    <td>a</td>
    <td>
      <a class="show_119864" href="/books/119864">Show</a>
    </td>
    <td>
      <a class="edit_119864" href="/books/119864/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119864" rel="nofollow" data-method="delete" href="/books/119864">Destroy</a>
    </td>
  </tr>

  <!-- 8行目 -->
  <tr>
    <td>リーダーブルコードwa</td>
    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
    <td>
      <a class="show_119857" href="/books/119857">Show</a>
    </td>
    <td>
      <a class="edit_119857" href="/books/119857/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119857" rel="nofollow" data-method="delete" href="/books/119857">Destroy</a>
    </td>
  </tr>

  <!-- 9行目 -->
  <tr>
    <td>あ</td>
    <td>あ</td>
    <td>
      <a class="show_119868" href="/books/119868">Show</a>
    </td>
    <td>
      <a class="edit_119868" href="/books/119868/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119868" rel="nofollow" data-method="delete" href="/books/119868">Destroy</a>
    </td>
  </tr>

  <!-- 10行目 -->
  <tr>
    <td>s</td>
    <td>ss</td>
    <td>
      <a class="show_119867" href="/books/119867">Show</a>
    </td>
    <td>
      <a class="edit_119867" href="/books/119867/edit">Edit</a>
    </td>
    <td>
      <a data-confirm="Are you sure?" class="destroy_119867" rel="nofollow" data-method="delete" href="/books/119867">Destroy</a>
    </td>
  </tr>
  </tbody>
 </table>
 

 <h2>New book</h2>
 <form class="new_book" id="new_book" action="/books" accept-charset="UFT-8" method=post">...</form>

</body>