<body>

  <h1>
    ようこそ
    <strong>Bookers</strong>
    へ！
  </h1>

  <p>
    <strong>Bookers</strong>
    では、さまざまな書類に関するあなたの意見や
  </p>

  <p>印象を共有し交換することが出来ます</p>

  <p>
    <%= link_to 'start', '/books' %>
    <!-- <a href="/books/index">start</a> --この書き方でも多分OK-->
  </p>

</body>